################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackendSocialApp/.vs/BackendSocialApp
/BackendSocialApp/BackendSocialApp/bin/Debug/netcoreapp2.2
/BackendSocialApp/BackendSocialApp/obj
/BackendSocialApp/BackendSocialApp/Upload
/BackendSocialApp/BackendSocialApp/Assets
/BackendSocialApp/BackendSocialApp/bin/Release/netcoreapp2.2
/BackendSocialApp/BackendSocialApp/Properties/PublishProfiles
/BackendSocialApp/BackendSocialApp/appsettingsReal.json
/BackendSocialApp/BackendSocialApp/appsettingsReal.Development.json
/BackendSocialApp/Assets
/BackendSocialApp/Upload
/BackendSocialApp/BackendSocialApp/example.log
/BackendSocialApp/BackendSocialApp/appsettings.Production.Development.json
/BackendSocialApp/BackendSocialApp/Logs
/BackendSocialApp/BackendSocialApp/appsettings.Production.json
