################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackendSocialApp/.vs/BackendSocialApp
/BackendSocialApp/BackendSocialApp/bin/Debug/netcoreapp2.2
/BackendSocialApp/BackendSocialApp/obj
/BackendSocialApp/BackendSocialApp/Upload
